img.MainLogo{
    width: 100%;
    margin: auto;
}

h1.StartLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight:bold;
    padding: 30px 0 50px 0;
}

div.Bounding{
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-weight:bold;
   padding: 0 0 50px 0;
}

.FrameBackground{
    height: 100%;
}

.FullHeight {
    height: 100%;
}

.AdminPanel {
    border: 2px solid #c8955e;
    background-color: #f5eade;
    height:100%;
    width:100%;
}

body{
    height:100%
}

#app div{
    height:100%
}

.AddCustomerBtn{
    position: absolute !important;
    top: 0;
    left: 0;
}

.AddCustomerBtnNew{
    position: absolute !important;
    top: 40px;
    left: 0;
}


pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
    width: 200px;
    height: 150px;
}

.cryingImage{
    width: 150px;
    height: 150px;
}

.iphone0{

}
